<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OODEV Blog</title>
</head>
<body>
    <div>
        <h1><a href="#">OODEV Blog</a></h1>
        <h3>{{ title }}</h3>
    </div>

    <div>
        {% for post in posts%}
        <h2><a href="">{{ post.title }}</a></h2>
        <h3>{{ post.text }}</h3>
        <p>{{ post.created_date }}</p>
        {% endfor %}
    </div>
</body>
</html>